/* universal styles */
 
 /*css reset chris coyier*/
*, 
*:before, 
*:after{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*clearfix paul irish*/
.clearfix:after {
	display: table;
	content: " ";
	clear: both;
}

 /*global styles*/

.centerme{
	text-align: center; 
}

.left{
	float: left;
}

.right{
	float: right;
}

.hide{
	display: none;
}

/*page styles*/
.home{

}
body{
	background: rgba(0, 0, 0, 1);
	background-image: url('../img/stairs.png');
	background-size: 1600px;
	background-repeat: no-repeat;
	background-position: 0px 100px;
}

.ball{
	@include border-radius(50%);
	background: rgba(255, 255, 255, 1);
	margin-top: 108px;
	width: 30px; 
	height: 30px; 
	text-align: center;
	@include animation(fall 10s ease-in 1);
	}

.bunny{
	@include animation(magnet 10s ease-in 1);
}

 @include keyframes(fall){
	0%{
		transform: translate(-40px, 0px);
	}
	9%{
		transform: translate(255px, 0px);
	}
	18%{
 		 transform: translate(255px, 98px);
 	}
 	27%{
 		 transform: translate(350px, 98px);
 	}
 	36%{
		 transform: translate(350px, 193px);
	}
	45%{
		 transform: translate(445px, 193px);
	}
	54%{
 		 transform: translate(445px, 293px);
 	}
 	63%{
 		 transform: translate(540px, 293px);
 	}
 	72%{
		 transform: translate(540px, 390px);
	}
	81%{
 		 transform: translate(635px, 390px);
 	}
 	90%{
 		 transform: translate(635px, 485px);
 	}
 	100%{
 		 transform: translate(1500px, 485px);
 	}
 }

 @include keyframes(magnet){
	0%{
		 transform: translate(-120px, 0px);
	}
	9%{
		 transform: translate(205px, 0px);

	}
	18%{
 		 transform: translate(205px, 98px);
  	}
 	27%{
 		 transform: translate(310px, 98px);
 	}
 	36%{
		 transform: translate(310px, 193px);
	}
	45%{
		 transform: translate(395px, 193px);
	}
	54%{
 		 transform: translate(395px, 293px);
 	}
 	63%{
 		 transform: translate(490px, 293px);
 	}
 	72%{
		 transform: translate(490px, 390px);
	}
	81%{
 		 transform: translate(590px, 390px);
 	}
 	90%{
 		 transform: translate(590px, 485px);
 	}
 	100%{
 		 transform: translate(1450px, 485px);
 	}
 }

